@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Tambahkan transisi tema */
html {
  transition: background-color 0.3s, color 0.3s;
}

body {
  font-family: Instrument Sans, sans-serif;
  color: var(--foreground);
  background: var(--background);
  @apply text-slate-900;
}
